<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
<<<<<<< HEAD
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-title" style="text-align: center;">
                    <h4>Registro de Vehiculo</h4>
                    <hr>
                </div>
                <div class="card-body rounded-lg" style="background-color:  #FFCC29;">
=======
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registro de Vehiculo</h5>
                    <hr>
>>>>>>> b5149c29e6843b6153189dd7583d3ed81e4de11c
                    <form action="/vehicles/add" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlInput1">Placa: </label>
<<<<<<< HEAD
                                <input type="text" name="placa" class="form-control" placeholder="e.g: ABC123" required autofocus>
=======
                                <input type="text" name="placa" class="form-control" placeholder="Placa" required autofocus>
>>>>>>> b5149c29e6843b6153189dd7583d3ed81e4de11c
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlInput1">Marca: </label>
                                <input type="text" name="marca" class="form-control" placeholder="Marca" required autofocus>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlInput1">Modelo: </label>
                                <input type="text" name="modelo" class="form-control" placeholder="Modelo" required autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlInput1">Color: </label>
<<<<<<< HEAD
                                <input type="color" name="color" class="form-control" placeholder="Color" required autofocus>
=======
                                <input type="text" name="color" class="form-control" placeholder="Color" required autofocus>
>>>>>>> b5149c29e6843b6153189dd7583d3ed81e4de11c
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlInput1">Año: </label>
                                <input type="number" min="1970" max="2020" name="año" class="form-control" placeholder="Año" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlInput1">ID: </label>
                                <input type="text" name="idUsuario" class="form-control" placeholder="id" autofocus>
                            </div>
                        </div>

                        <div class="form-group"> 
<<<<<<< HEAD
                            <button class="btn btn-dark btn-block">
=======
                            <button class="btn btn-success btn-block">
>>>>>>> b5149c29e6843b6153189dd7583d3ed81e4de11c
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>