#signin{
    background-image: url(/img/fondo.jpg);  
    background-repeat: no-repeat;
    background-size: 100%;
}

#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .menu{
    width: 12rem;
}

a:hover{
    text-decoration: none;
}
