/*#signin{
    background-image: url(/img/back.png);  
    background-repeat: no-repeat;
    background-size: con;
}*/

#bod{
    background-image: url(/img/back.png);  
    background-repeat: no-repeat;
    background-size: cover;
}

#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .menu{
    width: 12rem;
}

a:hover{
    text-decoration: none;
}
