<div class="container-fluid"> 
    <div class="row">
        <div id="sidebar-container" style="background-color:#FFCC29;">
            <div class="menu">
                <a href="/historial" class="d-block text-dark p-3"><i class="fas fa-table"></i><h5>Historial</h5></a>
                <a href="#" class="d-block text-dark p-3"><i class="fas fa-edit"></i><h5>Actualizar Datos</h5></a>
                <a href="#" class="d-block text-dark p-3"><i class="fas fa-calendar-alt"></i><h5>Eventos</h5></a>
            </div>
        </div>
    </div>
</div>