<div class="d-flex">
    <div id="sidebar-container" class="bg-warning">
        <div class="menu">
            <a href="vehiculos" class="d-block text-dark h5 p-3"><i class="fas fa-car"></i> Vehículos</a>
            <a href="usuarios" class="d-block text-dark h5 p-3"><i class="fas fa-users"></i> Usuarios</a>
            <a href="eventos" class="d-block text-dark h5 p-3"><i class="fas fa-calendar-alt"></i> Eventos</a>
            <a href="informes" class="d-block text-dark h5 p-3"><i class="fas fa-file"></i> Informes</a>
        </div>
    </div>
    <div id="cont" class="col-md-8 mx-auto mt-3">
        <h3 class="card-title text-center mb-3">Eventos Seccional Sogamoso</h3>
            <hr>
            <div class="card border-warning shadow p-3 my-5 bg-white rounded">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="../img/sinCarro.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Día sin Carro</h5>
                        <p class="card-text">Fecha: 29/Octubre/2020</p>
                        <p class="card-text"><small class="text-muted">Jornada por el medio ambiente. En la sede Seccional Sogamoso de la Universidad Pedagogica y Tecnologica de Colombia se llevara a el dia sin carro y sin moto.</small></p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card border-warning shadow p-3 mb-5 bg-white rounded">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="../img/invest.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Semana de la Investigación</h5>
                        <p class="card-text">Fecha: 05/Octubre/2020 - 09/Octubre/2020</p>
                        <p class="card-text"><small class="text-muted">Jornada semana de la investigación. En la sede Seccional Sogamoso de la Universidad Pedagogica y Tecnologica de Colombia se llevara a el dia sin carro y sin moto.</small></p>
                    </div>
                    </div>
                </div>
            </div>
    </div>    
</div>